<div class="header-menu">
    <nav>
        {% assign navHrefs = "" | split: "" %}
        {% for item in site.data.navigation %}
            {% capture link %}
                <a href="{{ item.link }}" {% if page.url == item.link %}class="navigation-selected"{% endif %}>{{ item.name }}</a>
            {% endcapture %}
            {% assign navHrefs = navHrefs | push: link %}
        {% endfor %}

        [ {{ navHrefs | join: " | " }} ]
    </nav>

    <select name="Выбор темы" id="theme-selector" onchange="changeTheme(value);">
        <option value="vanilla">Стандартная (розовый)</option>
        <option value="dark">Тёмная</option>
    </select>

    <script>
        function changeTheme(theme) {
            document.getElementsByTagName("html")[0].setAttribute("data-theme", theme);
            localStorage.setItem("theme", theme);
        }

        let currentTheme = localStorage.getItem("theme");
        document.getElementById("theme-selector").value = currentTheme;
        if (currentTheme !== null) {
            changeTheme(currentTheme);
        } else {
            currentTheme = "vanilla";
        }
    </script>
</div>