{% assign mainCategory = include.mainCategory %}

<ul class="posts-list">
    <div class="category-header">
        <h3 class="category-header-name">{{ mainCategory.name }}</h3>
        <a class="category-header-link" href="{{ mainCategory.url }}">Перейти к категории</a>
    </div>

    {% assign posts = site.categories[mainCategory.name] %}
    {% assign categoryNameNoSpaces = mainCategory.name | replace: " ", "" %}
    {% assign count = 0 %}
    {% for post in posts %}
        {% if count >= include.visiblePostsMaxCount and include.hidePosts %}
            <li class="hidden-post {{ categoryNameNoSpaces }}">
        {% else %}
            <li>
        {% endif %}
            {% assign postDate = post.date | date: "%b %d, %Y" %}
            {% assign postNumber = posts.size | minus: count %}
            {% include post.html content=post.content url=post.url title=post.title author=post.author date=postDate number=postNumber images=post.images displayContent=false categoryUrl=mainCategory.url displayToc=true %}
        </li>
        {% assign count = count | plus: 1 %}
    {% endfor %}

    {% assign postsLeft = posts.size | minus: include.visiblePostsMaxCount %}
    {% if postsLeft > 0 and include.hidePosts %}
        <span class="skipped-posts-count" id="{{ categoryNameNoSpaces | append: "-skipped-count" }}">(Пропущено {{ postsLeft }} постов. <span class="text-button" id="{{ categoryNameNoSpaces | append: "-show-skipped" }}">Посмотреть все посты.</span>)</span>
    {% endif %}
    <br><br>
</ul>