@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.navigation_selected {
    background-color: #f5fcc1;
}

body {
    max-width: 1100px;
    background-color: #f3d1f4;
    color: #651667;
    font-family: 'Rubik', sans-serif;
    font-size: 16pt;
}

img {
    max-width: 800px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    margin-top: 50px;
    color: #9C449F;
}

h3 {
    font-size: 20pt;
}

h2 {
    font-size: 32pt;
}

.MathJax {
    font-size: 16pt;    
}

p, ul, li, script {
    margin-bottom: 1.5em;
    font-size: 16pt;
}
