body {
    max-width: 100%;
}

.content-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    max-width: 800px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

:is(h1, h2, h3, h4, h5, h6)::before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
    pointer-events: none;
}

h1,
h2,
h3 {
    margin-top: 50px;
}

h3 {
    font-size: 20pt;
}

h2 {
    font-size: 24pt;
}

h1 {
    font-size: 28pt;
}

.MathJax[display="true"],
.highlight {
    overflow-x: auto;
    margin-right: 20px !important;
    padding-bottom: 20px;
}

p,
ul,
li,
script {
    font-size: 14pt;
    line-height: 1.5em;
}